<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Ingresar Estudiantes</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="font-family: 'Montserrat', sans-serif;">
    <div class="container mt-5">
      <h1>Ingresar Estudiante</h1>

      <form
        class="mt-5"
        method="POST"
        th:action="@{/insertarEstudiante}"
        ,
        th:object="${estudiante}"
      >
        <div class="form-group">
          <input
            type="hidden"
            class="form-control"
            th:field="*{codigoUsuario}"
            id="codigoUsuario"
          />
        </div>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            th:field="*{nombre}"
            id="nombre"
          />
          <span th:errors="*{nombre}" style="color: #ff0000;"></span>
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input
            type="text"
            class="form-control"
            th:field="*{apellido}"
            id="apellido"
          />
          <span th:errors="*{apellido}" style="color: #ff0000;"></span>
        </div>
        <div class="form-group">
          <label for="carnet">Carnet</label>
          <input
            type="text"
            class="form-control"
            th:field="*{carnet}"
            id="carnet"
          />
          <span th:errors="*{carnet}" style="color: #ff0000;"></span>
        </div>
        <div class="form-group">
            <label for="carrera">Carrera</label>
            <input
              type="text"
              class="form-control"
              th:field="*{carrera}"
              id="carrera"
            />
            <span th:errors="*{carrera}" style="color: #ff0000;"></span>
          </div>
        <button type="submit" class="btn btn-primary">Guardar Estudiante</button>
      </form>
      <a class="btn btn-secondary mt-2" th:href="@{/listado}">Listado</a>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>